.box-content-order {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.col-item-order {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.box-content-order {
    margin-top: 35px;
}

.item-product-order {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.img-item-product-order {
    width: 134px;
    height: 134px;
    object-fit: cover;
    border-radius: 8px;
}

.name-product-order {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    padding-bottom: 7px;
}

.info-product-order {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 5px;
}

.price-product-order {
    font-size: 18px;
}

.price-product-order span {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
}

.item-order-qr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-qr {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
}

.content-qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
}
.total-payment{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
    span{
        color: #F1641E;
        font-weight: 700;
    }
}
.btn-success-order {
    background: #F1641E;
    color: white;
    border-radius: 51px;
    width: fit-content;
    padding: 8px 16px;
    font-size: 16px;
    display: inline-block;
}

.btn-success-order:hover {
    color: white;
}

.img-qr-bank {
    width: 80%;
}

.item-left-order {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item-order-qr {
    width: 24%;
}

.item-info-order {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item-order {
    width: 69%;
}

.item-order-use {
    width: 30%;
}


@media (max-width: 1400px) {
    .img-qr-bank {
        width: 100%;
    }

    .name-product-order {
        font-size: 20px;
    }

    .item-order-use {
        width: 33%;
    }
    .item-order {
        width: 66%;
    }
}

@media (max-width: 1200px) {
    .name-product-order, .content-qr, .price-product-order, .price-product-order span, .title-qr {
        font-size: 18px;
    }

    .info-product-order {
        font-size: 15px;
    }

    .img-item-product-order {
        width: 110px;
        height: 110px;
    }

    .item-order-use {
        width: 38%;
    }

    .item-order-qr {
        width: 26%;
    }

    .item-left-order {
        width: 73%;
    }
    .item-order {
        width: 60%;
    }
}

@media (max-width: 1024px) {
    .name-product-order, .content-qr, .price-product-order, .price-product-order span, .title-qr {
        font-size: 16px;
    }

    .info-product-order {
        font-size: 14px;
    }

    .img-item-product-order {
        width: 85px;
        height: 85px;
    }

    .item-order-use {
        width: 100%;
    }

    .box-content-order {
        margin-top: 20px;
    }

    .item-product-order {
        gap: 10px;
    }

    .name-product-order {
        padding-bottom: 4px;
    }
    .item-left-order {
        width: 68%;
    }
    .item-order-qr {
        width: 30%;
    }
    .item-order {
        width: 100%;
    }
    .total-payment{
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .item-left-order{
        width: 100%;
    }
   .item-order-qr {
        width: 50%;
       margin: auto;
    }
    .total-payment{
        font-size: 16px;
        margin-top: 40px;
    }
    .btn-success-order {
        font-size: 15px;
    }
}

@media (max-width: 420px) {
    .item-order-qr {
        width: 70%;
    }
}
