.profile-tab > div {
    display: none;
}
.profile-tab > .active-tab {
    display: block;
}
.li-tab-wrapper{
    border-radius: 8px;
}
.li-tab-wrapper.active {
    background: #F1641E;
}
.li-tab-wrapper.active .profile-menu-title {
    color: white;
}
.profile-side-bar li:hover .profile-menu-title {
    color: #F1641E;
}
.li-tab-wrapper.active:hover .profile-menu-title {
    color: white;
}

.profile-wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.menu-toggle {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 73px;
    left: 15px;
    z-index: 10;
    .menu-dash {
        display: block;
        width: 30px;
        height: 3px;
        background: #F1641E;
        margin: 5px 0;
        border-radius: 2px;
    }
}
.close-icon{
    display: none;
}
.profile-side-bar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 10px;
    height: fit-content;
    transition: transform 0.3s ease;
}
.profile-avatar{
    margin: auto;
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
}
.list-tab{
    li{
        list-style: none;
        margin-bottom: 5px;
        cursor: pointer;
    }
}
.list-tab-wrapper{
    display: flex;
    gap: 10px;
    padding: 10px;
}
.logout-submit-btn{
    border: none;
    background: none;
    display: flex;
    gap: 10px;
}
.profile-menu-title{
    color: #929292;
    font-weight: 600;
    font-size: 16px;
}

.profile-tab{
    padding-left: 20px;
    border-left: 1px solid #BFBFBF;
    .information-tab {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .information-title{
            font-size: 24px;
            font-weight: 600;
        }
        .information-avatar-wrapper{
            position: relative;
            margin: auto;
        }
        .information-avatar{
            width: 180px;
            height: 180px;
            object-fit: cover;
            border-radius: 50%;
        }
        .camera-icon {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 40px;
            height: 40px;
            cursor: pointer;
        }
        .input-field-wrapper{
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .double-input{
            display: flex;
            gap: 20px;
        }
        .double-input-item{
            width: 50%;
        }
        .label-field {
            color: #000000;
            font-size: 16px;
            font-weight: 400;
            text-align: left;
            margin-bottom: 5px;
        }
        .input-field {
            color: #111111;
            width: 100%;
            padding: 8px;
            border: 1px solid #66666659;
            border-radius: 8px;
            font-size: 16px;
        }
        .error-message{
            font-size: 12px;
            font-weight: 400;
            color: red;
        }
        .update-current-phone{
            text-decoration: underline;
            font-weight: 700;
        }
        .update-current-phone:hover{
            color: #F1641E;
        }
        .information-submit{
            margin: 20px auto 0;
            width: 50%;
            padding: 8px;
            background: #F1641E;
            color: white;
            font-size: 16px;
            font-weight: 600;
            border: none;
            border-radius: 8px;
        }
    }
    .love-tab{
        .box-trademark{
            margin-top: 0;
        }
        .title-trademark{
            font-size: 24px;
            font-weight: 600;
        }
        .box-menu-trademark{
            gap: 8px;
        }
        .item-menu-trademark{
            padding: 4px 12px;
        }
        .content-you-like{
            grid-template-columns: repeat(4, 1fr);
        }
    }
    .change-password-tab{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .change-password-title{
            font-size: 24px;
            font-weight: 600;
        }
        .input-field-wrapper{
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .input-field-password{
            position: relative;
        }
        .show-password {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
        .label-field {
            color: #000000;
            font-size: 16px;
            font-weight: 400;
            text-align: left;
            margin-bottom: 5px;
        }
        .input-field {
            color: #111111;
            width: 100%;
            padding: 8px;
            border: 1px solid #66666659;
            border-radius: 8px;
            font-size: 16px;
        }
        .error-message{
            font-size: 12px;
            font-weight: 400;
            color: red;
        }
        .change-password-submit{
            margin: 20px auto 0;
            width: 50%;
            padding: 8px;
            background: #F1641E;
            color: white;
            font-size: 16px;
            font-weight: 600;
            border: none;
            border-radius: 8px;
        }
    }
    .update-phone-tab{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .update-phone-title{
            font-size: 24px;
            font-weight: 600;
        }
        .input-field-wrapper{
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .label-field {
            color: #000000;
            font-size: 16px;
            font-weight: 400;
            text-align: left;
            margin-bottom: 5px;
        }
        .input-field {
            color: #111111;
            width: 100%;
            padding: 8px;
            border: 1px solid #66666659;
            border-radius: 8px;
            font-size: 16px;
        }
        .error-message{
            font-size: 12px;
            font-weight: 400;
            color: red;
        }
        .send-otp{
            color: white;
            background: #F1641E;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 600;
            padding: 8px;
        }
        .update-phone-submit{
            display: flex;
            justify-content: center;
            margin: 20px auto 0;
            width: 50%;
            padding: 8px;
            background: #F1641E;
            color: white;
            font-size: 16px;
            font-weight: 600;
            border: none;
            border-radius: 8px;
        }
        .update-phone-submit-disable{
            display: flex;
            justify-content: center;
            margin: 20px auto 0;
            width: 50%;
            padding: 8px;
            background: grey;
            color: white;
            font-size: 16px;
            font-weight: 600;
            border: none;
            border-radius: 8px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .profile-wrapper{
        grid-template-columns: 1fr 2fr;
    }
    .list-tab{
        padding-left: 0;
    }
    .profile-tab{
        .love-tab{
            .content-you-like{
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .profile-wrapper{
        display: block;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
        z-index: 9; /* Ensure it's below the sidebar */
        display: none; /* Hidden by default */
    }

    .overlay.active {
        display: block;
    }

    .menu-toggle {
        display: block;
    }
    .profile-avatar{
        display: flex;
    }
    .close-icon{
        display: block;
        position: absolute;
        right: 15px;
        top: 10px;
        cursor: pointer;
        i{
            font-size: 24px;
        }
    }
    .list-tab{
        margin-top: 50px;
    }
    .profile-side-bar{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        background: #fff;
        z-index: 10;
        transform: translateX(-100%);
        width: 350px;
        padding: 40px 15px;
    }
    .profile-side-bar.show {
        display: block;
        transform: translateX(0);
    }
    .profile-tab{
        padding-left: 0;
        border-left: none;
        .information-tab{
            gap: 10px;
            .information-avatar{
                width: 130px;
                height: 130px;
            }
            .information-title{
                font-size: 20px;
                text-align: center;
            }
            .input-field-wrapper{
                gap: 10px;
            }
            .double-input{
                flex-direction: column;
                gap: 10px;
            }
            .double-input-item{
                width: 100%;
            }
            .label-field{
                font-size: 14px;
            }
            .input-field{
                padding: 4px 8px;
                font-size: 14px;
            }
            .information-submit{
                margin: 10px auto 0;
                padding: 4px 8px;
                font-size: 14px;
            }
        }
        .love-tab {
            .title-trademark{
                text-align: center;
            }
        }
        .change-password-tab{
            .change-password-title{
                font-size: 20px;
                text-align: center;
            }
            .input-field-wrapper{
                gap: 10px;
            }
            .label-field{
                font-size: 14px;
            }
            .input-field{
                padding: 4px 8px;
                font-size: 14px;
            }
            .change-password-submit{
                margin: 10px auto 0;
                padding: 4px 8px;
                font-size: 14px;
            }
        }
        .update-phone-tab{
            .update-phone-title{
                font-size: 20px;
                text-align: center;
            }
            .label-field{
                font-size: 14px;
            }
            .input-field{
                padding: 4px 8px;
                font-size: 14px;
            }
            .send-otp{
                padding: 4px 8px;
                font-size: 14px;
            }
            .update-phone-submit-disable{
                margin: 10px auto 0;
                padding: 4px 8px;
            }
            .update-phone-submit{
                margin: 10px auto 0;
                padding: 4px 8px;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .profile-tab{
        .love-tab{
            .title-trademark{
                font-size: 20px;
            }
            .content-you-like{
                grid-template-columns: repeat(2, 1fr);
            }
        }
        .change-password-tab{
            .change-password-submit{
                width: 75%;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .profile-side-bar {
        width: 100%;
    }
}
