* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: unset;
    color: #222222;
    font-size: 14px;
    font-weight: 500;
}

a:hover {
    color: #222222;
}

.box-header {
    width: 100%;
    background: white;
    border-bottom: 2px solid #c4c4c4;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-logo {
    color: #F1641E;
    font-size: 36px;
    font-weight: 500;
}
.title-logo:hover{
    color: #F1641E;
}

.box-search {
    display: flex;
    align-items: center;
    width: 67%;
    max-width: 870px;
    border: 2px solid black;
    border-radius: 30px;
    padding: 4px 4px 4px 20px;
    margin-left: 30px;
}

.input-search {
    border: none;
    outline: unset;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    width: calc(100% - 34px);
}

.icon-search {
    background: #F1641E;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-search img {
    width: 18px;
}

.icon-header {
    padding: 10px 15px;
}

.icon-header img {
    width: 24px;
    height: 24px;
}

.link-login {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 13px 0;
    gap: 60px;
}

.item-menu-header {
    color: #222222;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.item-menu-header img {
    width: 18px;
}
.profile-menu-container {
    position: relative;
    display: inline-block;
}

.profile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
    padding: 10px 0;
    min-width: 150px;
}

.profile-menu a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.profile-menu a:hover {
    background-color: #f1f1f1;
    color: #000;
}

.profile-menu-container:hover .profile-menu {
    display: block;
    min-width: 166px;
}

.profile-menu img{
    width: 20px;
    height: 20px;
}

.main {
    padding-top: 130px;
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}

.box-footer {
    width: 100%;
    background: white;
    padding: 30px 0;
    margin-top: 60px;
}

.footer {
    width: 1210px;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.footer-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 25px;
    border-bottom: 1px solid #000000;
    margin-bottom: 25px;
}

.item-footer {
    display: flex;
    flex-direction: column;
}

.title-footer {
    font-size: 20px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 12px;
}
.describe-footer{
    font-size: 16px;
    color: #9A9EA6;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 25px;
}
.line-infor-cty{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
    gap: 15px;
}
.box-info-footer{
    display: flex;
    align-items: start;
    gap: 5px;
}
.icon-info-footer{
    width: 32px;
    height: 32px;
}
.title-info-footer{
    font-weight: 400;
    font-size: 14px;
    color: #9A9EA6;
}
.content-info-footer{
    color: #F1641E;
    font-size: 16px;
    font-weight: 500;
}
.img-app{
    width: 140px;
}
.line-app{
    margin-top: 35px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.box-menu-footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item-menu-footer {
    font-size: 16px;
}

.item-menu-footer img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.footer-bottom {
    color: #929292;
    font-size: 16px;
    font-weight: 400;
}

.content-you-like {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
}

.item-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.name-product {
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: center;
    position: relative;
    z-index: 1;
}

.price-product {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
}

.box-img-product {
    height: 100%;
    max-height: 218px;
    width: 100%;
    position: relative;
}

.img-product {
    width: 100%;
    object-fit: contain;
    height: 218px;
}

.fa-heart-sp {
    color: #c3c3c3cc;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    cursor: pointer;
    display: none;
    z-index: 1;
}

.fa-heart-sp:hover {
    color: #F1641E;
}

.item-product:hover .fa-heart-sp {
    display: inline-block;
}

.item-product {
    position: relative;
    padding: 5px 0;
    cursor: pointer;
}

.item-product:before, .item-product:after {
    content: '';
    position: absolute;
    box-sizing: inherit;
    width: 100%;
    height: 100%;
}

.item-product:hover {
    color: #F1641E;
    box-shadow: 0px 8px 8px 0px #F1641D1A;
}

.item-product:before,
.item-product:after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
}

.item-product:before {
    border-top: 2px solid #F1641E;
    border-bottom: 2px solid #F1641E;
    transform: scale3d(0, 1, 1);
}

.item-product:after {
    border-left: 2px solid #F1641E;
    border-right: 2px solid #F1641E;
    transform: scale3d(1, 0, 1);
}

.item-product:hover:before,
.item-product:hover:after {
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s;
}
.line-back{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: #222222;
    font-weight: 700;
    margin-bottom: 16px;
    cursor: pointer;
}

.search-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    align-items: center;
    gap: 20px;
.filter-search {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
.price-range-title {
    font-weight: 600;
    font-size: 18px;
    margin-right: 15px;
}
.price-range {
    display: flex;
    align-items: center;
    gap: 5px;
}

.input-price {
    width: 130px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    background-color: #F3F3F3;
    font-size: 14px;
    color: #555;
    outline-color: #e0e0e0;
}
.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #F47621;
    margin-left: 20px;
    border-radius: 25px;
}
.search-input {
    border: none;
    outline: none;
    font-size: 14px;
    color: #555;
    background-color: #FFFFFF;
    margin-left: 4px;
    padding: 8px;
    width: 200px;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
}
.search-button {
    background-color: #F47621;
    border: none;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    padding: 11px 14px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
}
.apply-button {
    background-color: #FA5A00;
    border-radius: 63px;
    border: none;
    padding: 8px 24px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-wrap: nowrap;
}
}
.box-footer-mobile{
    display: none;
}
.custom-content-1-line {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.custom-content-2-line {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.custom-content-3-line {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.item-footer-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    padding: 12px 4px;
    gap: 2px;
}
.icon-menu-footer{
    width: 16px;
}
.offcanvas-backdrop{
    z-index: 2;
}
.item-menu-footer-offcanvas{
    color: #222222;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #4b4b4b;
    margin-bottom: 5px;
}
.btn-close-menu{
    position: absolute;
    right: 15px;
    top: 10px;
}
.btn-close:focus {
     box-shadow: unset;
}
.fa-heart-sp-active{
    color: #F1641E;
}
@media (max-width: 1400px) {
    .main, .header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .box-search{
        width: 60%;
        max-width: 800px;
    }
    .footer {
        padding-left: 40px;
        padding-right: 40px;
    }
    .line-back{
        font-size: 18px;
    }
}

@media (max-width: 1200px) {
    .img-product {
        height: 190px;
    }

    .content-you-like {
        gap: 10px;
    }

    .box-search {
        width: 55%;
    }

}

@media (max-width: 1025px) {
    .title-footer {
        font-size: 18px;
    }

    .item-menu-footer {
        font-size: 14px;
    }

    .title-logo {
        font-size: 30px;
    }

    .box-search {
        max-width: 415px;
        margin-left: 10px;
    }

    .icon-search {
        width: 32px;
        height: 32px;
    }

    .icon-search img {
        width: 16px;
    }

    .input-search {
        width: calc(100% - 30px);
    }
    .content-you-like {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 992px){
    .link-login {
        margin-right: 5px;
    }
    .box-search {
        max-width: 355px;
    }
    .icon-header {
        padding: 10px;
    }
    .describe-footer {
        font-size: 15px;
    }
}

@media screen and (max-width: 852px){
    .search-wrapper{
        justify-content: space-between;
        gap: 10px;
        margin-top: 16px;
    .filter-search{
        gap: 8px;
    .price-range-title{
        margin-right: 0;
        font-size: 16px;
    }
    .input-price{
        width: 100px;
        padding: 4px 8px;
    }
    .search-container{
        margin-left: 0;
    }
    .search-input{
        padding: 4px 8px;
    }
    .search-button{
        padding: 8px 14px;
    }
}
.apply-button{
    padding: 6px 16px;
    font-size: 14px;
}
}
}

@media (max-width: 768px) {
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }
    .box-infor-login{
        display: none!important;
    }
    .title-logo {
        font-size: 28px;
    }
    .box-search {
        width: 65%;
    }
    .input-search {
        width: calc(100% - 26px);
        font-size: 14px;
    }
    .icon-search {
        width: 26px;
        height: 26px;
    }
    .icon-search img {
        width: 13px;
    }
    .header-bottom{
        display: none;
    }
    .header{
        padding-bottom: 10px;
    }
    .box-footer-mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        padding: 0px 10px;
        background: white;
        box-shadow: 0 0 5px #888;
        width: 100%;
        z-index: 5;
    }
    .main{
        padding-top: 75px;
    }
    .content-you-like {
        grid-template-columns: repeat(3, 1fr);
    }
    .content-info-footer{
        font-size: 14px;
    }
    .box-footer{
        padding-bottom: 60px;
    }
    .line-back {
        font-size: 16px;
    }
}
@media (max-width: 622px) {
    .img-product {
        height: 190px;
    }
    .search-wrapper {
    .filter-search {
    .input-price {
        width: 80px;
    }
    .search-input{
        width: 150px;
    }
}
}
}

@media (max-width: 567px) {
    .footer-bottom {
        font-size: 14px;
    }
    .main, .header, .footer{
        padding-left: 15px;
        padding-right: 15px;
    }
    .content-you-like {
        grid-template-columns: repeat(2, 1fr);
    }
    .box-search{
        padding-left: 12px;
    }
}
