.box-voucher {
    width: 100%;
    margin-top: 40px;
}

.line-menu-voucher {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    background: #FFEBE1;
    padding: 5px 8px;
    border-radius: 6px;
    margin: 0 auto;
}

.img-voucher {
    width: 453px;
    height: 183px;
}

.item-voucher {
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-voucher-active {
    background: white;
    box-shadow: 0px 0px 7px 0px #F1641E8C;
    border-radius: 6px;
}

.content-voucher {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.voucher-item {
    position: relative;
}

.logo-trademark {
    position: absolute;
    width: 69px;
    height: 52px;
    object-fit: contain;
    top: 50%;
    left: 29px;
    transform: translateY(-50%);
}

.line-voucher {
    position: absolute;
    border-left: 1px dotted #A9A9A9;
    height: 142px;
    top: 20.5px;
    left: 122px;
}

.content-item-voucher {
    position: absolute;
    left: 135px;
    top: 25px;
    width: 100%;
    max-width: 295px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name-voucher-product {
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price-voucher-product {
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 700;
    color: #F1641E;
}

.content-voucher-product {
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.remaining-quantity{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.expiry {
    position: absolute;
    right: 25px;
    bottom: 19px;
    color: #929292;
    font-size: 11px;
    font-weight: 400;
}

.box-content-voucher {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.name-product-voucher {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.price-product-voucher {
    color: #F1641E;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 8px;
}

.name-cs {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.icon-location {
    width: 24px;
}

.line-address {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 6px;
}

.line-address span {
    color: #000000;
    font-weight: 500;
    font-size: 15px;
}

.box-info-sp-voucher {
    margin-top: 30px;
}

.box-info-sp-voucher .accordion-button {
    padding-left: 0px;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}

.title-detail-sp-voucher {
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}

.title-detail-sp-voucher span {
    font-weight: 400;
}

.box-info-sp-voucher .accordion-body {
    padding-left: 0px;
    padding-top: 0px;
}

.accordion-button:not(.collapsed) {
    background-color: unset;
    box-shadow: unset;
}

.content-detail-sp-voucher {
    color: #000000;
    font-weight: 500;
    font-size: 14px;
}

.btn-use-voucher {
    background-color: #F1641E;
    padding: 12px 16px;
    width: 199px;
    text-align: center;
    border-radius: 51px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.box-item-img-voucher {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-ticket-voucher {
    width: 100%;
    max-width: 676px;
    box-shadow: 0px 0px 20px 0px #FF990091;
    padding: 25px 20px;
    border-radius: 24px;
    background: white;
    position: relative;
}

.name-sp-voucher {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.img-sp-voucher {
    width: 83%;
    border-radius: 24px;
}

.line-barcode {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px dotted black;
    margin-top: 30px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.img-barcode {
    width: 95%;
}

.line-bottom-voucher {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-top: 1px dotted black;
    margin-top: 20px;
}

.code-voucher {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
}

.btn-copy-code {
    background: white;
    outline: unset;
    border-radius: 51px;
    padding: 10px 16px;
    color: #F1641E;
    border: 1px solid #F1641E;
}

.circle1 img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 36%;
    left: -35px;
    background: white;
}

.circle2 img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 36%;
    right: -35px;
    background: white;
    transform: rotate(180deg);
}

@media (max-width: 1400px) {
    .content-voucher {
        justify-content: center;
    }

    .img-voucher, .voucher-item {
        width: 400px;
    }

    .content-item-voucher {
        width: 255px;
        left: 124px;
    }

    .line-voucher {
        left: 108px;
    }

    .logo-trademark {
        left: 24px;
    }

    .name-product-voucher {
        font-size: 22px;
    }
}

@media (max-width: 1280px) {
    .content-voucher {
        gap: 5px;
    }
}

@media (max-width: 1250px) {
    .content-voucher {
        gap: 0px;
    }

    .img-voucher, .voucher-item {
        width: 342px;
    }

    .logo-trademark {
        width: 60px;
        left: 19px;
    }

    .line-voucher {
        left: 92px;
    }

    .content-item-voucher {
        width: 222px;
        left: 105px;
    }

    .expiry {
        right: 20px;
    }

    .name-product-voucher {
        font-size: 20px;
    }

    .img-ticket-voucher {
        max-width: 575px;
    }

    .name-sp-voucher, .code-voucher {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .line-menu-voucher {
        width: 75%;
    }

    .box-voucher {
        margin-top: 15px;
    }

    .content-voucher {
        margin-top: 35px;
    }

    .name-product-voucher {
        font-size: 18px;
        margin-bottom: 3px;
    }

    .price-product-voucher {
        font-size: 16px;
        margin-bottom: 3px;
    }

    .box-item-img-voucher {
        margin-top: 30px;
    }

    .img-ticket-voucher {
        max-width: 510px;
    }

    .name-sp-voucher, .code-voucher {
        font-size: 16px;
    }

    .btn-copy-code {
        font-size: 14px;
        padding: 5px 16px;
    }
}

@media (max-width: 767px) {
    .img-voucher, .voucher-item {
        width: 453px;
        height: 183px;
    }

    .content-item-voucher {
        left: 135px;
        width: 295px;
    }

    .line-voucher {
        left: 122px;
    }

    .logo-trademark {
        width: 69px;
        left: 29px;
    }

    .box-content-voucher {
        width: 100%;
    }

    .name-product-voucher, .box-info-sp-voucher .accordion-button {
        font-size: 16px;
    }

    .price-product-voucher {
        font-size: 15px;
    }

    .name-cs {
        font-size: 15px;
    }

    .line-address span, .title-detail-sp-voucher {
        font-size: 15px;
    }

    .icon-location {
        width: 22px;
    }

    .btn-use-voucher {
        width: 150px;
        padding: 5px 15px;
        font-size: 16px;
    }

    .box-content-voucher {
        margin-top: 10px;
    }
    .remaining-quantity{
        font-size: 14px;
    }
}

@media (max-width: 453px) {
    .item-voucher {
        padding: 6px;
    }

    .line-menu-voucher {
        width: 90%;
    }

    .img-voucher, .voucher-item {
        width: 370px;
        height: 163px;
    }

    .logo-trademark {
        width: 60px;
        left: 24px;
    }

    .line-voucher {
        left: 99px;
        top: 18.5px;
        height: 126px;
    }

    .content-item-voucher {
        left: 115px;
        width: 242px;
    }

    .content-voucher-product {
        -webkit-line-clamp: 3;
    }

    .content-voucher {
        margin-top: 30px;
    }

    .box-item-img-voucher {
        margin-top: 40px;
    }

    .img-ticket-voucher {
        width: 92%;
        max-width: 510px;
        padding: 20px 15px;
    }

    .circle1 img {
        width: 40px;
        height: 40px;
        left: -28px;
        top: 31%;
    }

    .circle2 img {
        width: 40px;
        height: 40px;
        right: -28px;
        top: 31%;
    }
}
